h2 #{title}
form(method='post',action=act)

  p
    label(for="fecha") Fecha:
      input(type='date', name='fecha', value=ticket.fecha)

  p
    label(for="origen") Origen:
      input(type='text', name='company', size=100, value=ticket.company)

  p
    label(for="destino") Destino:
      input(type='text', name='service', value=ticket.destino)

  p
    label(for="precio") Precio:
      input(type='n', name='precio', size=100, value=ticket.precio)

  p
    label(for="cedula") Adquiriente:
      input(type='text', name='cedula', size=100, value=ticket.cedula)

  p
    label(for="puesto") Puesto:
      input(type='text', name='puesto', value=ticket.puesto)

  p
    input(type='submit', value='Guardar')
